<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
    <title>Bookstore - Categories</title>
</head>

<body>
    <h1>Categories</h1>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        <tr th:each="c : ${categories}">
            <td th:text="${c.categoryid}">category id</td>
            <td th:text="${c.name}">name</td>
        </tr>
    </table>
    <a href="/addcategory" class="btn btn-success">Add Category</a>

</body>

</html>